<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225916954305-t1lmgb2kv77s8rra8filqil4epb2v3ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225916954305-t1lmgb2kv77s8rra8filqil4epb2v3ed</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225916954305-ac69itstckk7vk2ijpen00cvrth1221d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBt-o0OP0W60r4Zsi-6EdZdGGS480W-CyE</string>
	<key>GCM_SENDER_ID</key>
	<string>225916954305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camellab.domis</string>
	<key>PROJECT_ID</key>
	<string>domis-camellab</string>
	<key>STORAGE_BUCKET</key>
	<string>domis-camellab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string></string>
	<key>DATABASE_URL</key>
	<string></string>
</dict>
</plist>
